.burger {
    width: 36px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}
.burger__line {
    width: 36px;
    height: 4px;
    background-color: $textColor;
}